<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    </head>
    <body class="container">
                <% include partials/header %>
    <div id="questionContainer" class="form-group">
    <h2><%=question.question%></h2>
     <form action="/question/<%=qid%>" method="post">
    <label for="exampleFormControlSelect1"></label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option><%=question.option1%></option>
      <option><%=question.option2%></option>
      <option><%=question.option3%></option>
      <option><%=question.option4%></option>
    </select>
  </div>
  <button class="btn btn-success btn-sm">
   ok </button>
  </form>
    <footer><% include partials/footer %></footer>
    </body>
    <style>
    
       questionContainer {
           display: flex;
           justify-content: center;
       },
       
       a {
    color: black !important;
    
        }
    
    </style>
</html>